.git
.gitignore
.gitattributes

*.o
*.a
*.so
*.lo
*.la
*.Po
*.Plo
*.dll
*.exe
*.dylib

node_data_dir
*.dat
*.db
*.ldb
*.log
blocks
chainstate
database


.deps
.libs
autom4te.cache
*.cache
build-aux/*.cache


.vscode
.idea
*.sublime-*
*.swp
*~


*.test

!README.md
!INSTALL.md
!LICENSE.txt
!COPYING

*.tar.gz
*.zip
*.tar
*.bak
core.*
coverage 